@charset "UTF-8";

 @font-face{
		font-family:'YoonGothic';
		font-style: normal;
		font-weight: 100;
		src:url('webfont/YoonGothic110.eot');
		src:local(※);
		src:url('webfont/YoonGothic110.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/YoonGothic110.woff') format('woff'),
			url('webfont/YoonGothic110.ttf') format('truetype');
		}
 @font-face{
		font-family:'YoonGothic';
		font-style: normal;
		font-weight: 200;
		src:url('webfont/YoonGothic120.eot');
		src:local(※);
		src:url('webfont/YoonGothic120.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/YoonGothic120.woff') format('woff'),
			url('webfont/YoonGothic120.ttf') format('truetype');
		}
 @font-face{
		font-family:'YoonGothic';
		font-style: normal;
		font-weight: 300;
		src:url('webfont/YoonGothic130.eot');
		src:local(※);
		src:url('webfont/YoonGothic130.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/YoonGothic130.woff') format('woff'),
			url('webfont/YoonGothic130.ttf') format('truetype');
		}
 @font-face{
		font-family:'YoonGothic';
		font-style: normal;
		font-weight: 400;
		src:url('webfont/YoonGothic140.eot');
		src:local(※);
		src:url('webfont/YoonGothic140.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/YoonGothic140.woff') format('woff'),
			url('webfont/YoonGothic140.ttf') format('truetype');
		}
 @font-face{
		font-family:'YoonGothic';
		font-style: normal;
		font-weight: 500;
		src:url('webfont/YoonGothic150.eot');
		src:local(※);
		src:url('webfont/YoonGothic150.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/YoonGothic150.woff') format('woff'),
			url('webfont/YoonGothic150.ttf') format('truetype');
		}
 @font-face{
		font-family:'YoonGothic';
		font-style: normal;
		font-weight: 600;
		src:url('webfont/YoonGothic160.eot');
		src:local(※);
		src:url('webfont/YoonGothic160.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/YoonGothic160.woff') format('woff'),
			url('webfont/YoonGothic160.ttf') format('truetype');
		}
@font-face{
		font-family:'SohoGothicPro';
		font-style: normal;
		font-weight: 100;
		src:url('font/SohoGothicPro-Thin.eot');
		src:local(※);
		src:url('webfont/SohoGothicPro-Thin.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/SohoGothicPro-Thin.woff') format('woff'),
			url('webfont/SohoGothicPro-Thin.ttf') format('truetype');
		}
@font-face{
		font-family:'SohoGothicPro';
		font-style: normal;
		font-weight: 200;
		src:url('font/SohoGothicPro-Light.eot');
		src:local(※);
		src:url('webfont/SohoGothicPro-Light.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/SohoGothicPro-Light.woff') format('woff'),
			url('webfont/SohoGothicPro-Light.ttf') format('truetype');
		}
@font-face{
		font-family:'SohoGothicPro';
		font-style: normal;
		font-weight: 300;
		src:url('font/SohoGothicPro-Regular.eot');
		src:local(※);
		src:url('webfont/SohoGothicPro-Regular.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/SohoGothicPro-Regular.woff') format('woff'),
			url('webfont/SohoGothicPro-Regular.ttf') format('truetype');
		}
@font-face{
		font-family:'SohoGothicPro';
		font-style: normal;
		font-weight: 400;
		src:url('font/SohoGothicPro-Medium.eot');
		src:local(※);
		src:url('webfont/SohoGothicPro-Medium.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/SohoGothicPro-Medium.woff') format('woff'),
			url('webfont/SohoGothicPro-Medium.ttf') format('truetype');
		}
@font-face{
		font-family:'SohoGothicPro';
		font-style: normal;
		font-weight: 500;
		src:url('font/SohoGothicPro-Bold.eot');
		src:local(※);
		src:url('webfont/SohoGothicPro-Bold.eot?#iefix') format('embedded-opentype'), /*ie 6,7,8*/
			url('webfont/SohoGothicPro-Bold.woff') format('woff'),
			url('webfont/SohoGothicPro-Bold.ttf') format('truetype');
		}

html {margin:0; padding:0; background:#fff;}
body {margin:0; padding:0; font-weight:200; font-family:'YoonGothic','SohoGothicPro','맑은 고딕', Malgun Gothic, HelveticaNeue, DroidSans, 'AppleGothic', Helvetica; line-height:1.5; color:#212121; letter-spacing:0; box-sizing:border-box;}
* {box-sizing:border-box;}
header, section, nav, article, aside, details, figcaption, figure, hgroup, menu, footer {display:block;}
div, span, object, iframe, form, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, ol, ul, li, dl, dt, dd, label, input, select, textarea, fieldset, legend, table, caption, thead, tbody, tfoot, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}
img {border:0; vertical-align:middle;}
ul,ol,dl,dt,dd,li {list-style:none;}
table, th, td {border-collapse:collapse; border-spacing:0; font-weight:normal;}
caption {display:block; text-indent:-9999em; overflow:hidden; height:0; font-size:0; line-height:0;}
fieldset, blockquote, iframe, button {border:none;}

a {text-decoration:none; margin:0; padding:0; color:inherit; vertical-align:middle;}
input, select {border:1px solid #eeeeee; font-family:'YoonGothic', '맑은 고딕', Malgun Gothic, HelveticaNeue, DroidSans,'AppleGothic'; vertical-align:middle;}
input:focus {outline:none;}
textarea {border:1px solid #eeeeee; padding:30px; font-family:'YoonGothic', sans-serif, '맑은 고딕', Malgun Gothic, HelveticaNeue, DroidSans,'AppleGothic'; vertical-align:middle;}
button {position:relative; background:none; border:0 none; cursor:pointer; font-family:inherit; margin:0; padding:0; line-height:1;}
button * { margin:0; padding:0;}
button::-moz-focus-inner {padding:0; border:0;}
button:focus {outline:none;}
select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand {
  display: none;
}


input, button, select {vertical-align:middle; color:#757575;}
input::-webkit-input-placeholder {color:#bdbdbd;}
input::-moz-input-placeholder {color:#bdbdbd;}
input:-ms-input-placeholder {color:#bdbdbd;}
input[type="password"]{-webkit-appearance:none; border-radius:0; border:1px solid #eeeeee; padding:0 10px;}

/* chatbot */
#chatbotArea {width:100%; height:100%;  display:inline-block; position:fixed; left:0px; top:0px; z-index:100; transform:none; -webkit-transform:none; background:none; display:none;}
.chatbotInner {width:100%; height:100%; position:relative; border-radius:8px; -webkit-box-shadow:0px 2px 8px 2px rgba(0, 0, 0, 0.3); box-shadow:0px 2px 8px 2px rgba(0, 0, 0, 0.3); float:right; z-index:2;}
.chatbotInner>.titArea {background-color:#faa61a; border-radius:8px 8px 0 0; height:60px; position:relative;}
.chatbotInner>.titArea .title {position:absolute; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); left:4.4%; font-size:0.938em; color:#fff;}
.chatbotInner>.titArea .title span {font-weight:bold;}
.chatbotInner>.titArea>a {width:50px; height:100%; display:block; float:right; position:relative; background:url(./images/ico_chatbot_btn_div.png?ver=1.0) repeat-y left;}
.chatbotInner>.titArea>a img {display:inline-block; position: absolute; left:50%; top:50%; -webkit-transform:translateX(-50%) translateY(-50%); transform:translateX(-50%) translateY(-50%); z-index:3;}
.chatbotInner>.converArea {position:absolute; top:0; left:0; padding:60px 0 54px; width:100%; height:100%;}
.chatbotInner>.converArea>.converScr {position:relative;width:100%; height:100%; background-color:rgba(238,230,226, 0.95); border-bottom:1px solid #d1d1d1;  padding: 16px;overflow-y:auto;}
.chatbotInner>.converArea>.converScr p {padding:0 44px !important; margin-bottom:15px;}
.chatbotInner>.converArea>.converScr p:last-child {margin-bottom:0;}
.chatbotInner>.converArea>.converScr .aol {background:url(./images/chatbot_aol.png?ver=1.0) no-repeat left top; background-size:auto 30px; text-align:left; padding:0 0 0 44px;}
.chatbotInner>.converArea>.converScr .aol span.box {padding:0; background-color:#fff; border-radius:0 14px 14px; font-size:0.813em; -webkit-box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.1); box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.1); /*border:2px solid #c2c2c2;*/}
.chatbotInner>.converArea>.converScr .aol span {display:inline-block; padding:10px 18px; line-height:1.35; word-break:keep-all;}
.chatbotInner>.converArea>.converScr .aol span a {display:inline-block; width:100%; padding:8px 16px 7px; border-top:1px dashed #c2c2c2; font-size:0.938em;}
.chatbotInner>.converArea>.converScr .aol span a img {margin-right:5px;}
.chatbotInner>.converArea>.converScr .aol span a img.arr {float:right; margin-top:3px; margin-right:0;}
.chatbotInner>.converArea>.converScr .aol span a:after {clear:both; content:''; display:block}
.chatbotInner>.converArea>.converScr .aol span.write {background:url(./images/ico_chatbot_msg_write.gif?ver=1.0) no-repeat center; width:80px; height:38px; display:inline-block;}
.chatbotInner>.converArea>.converScr .user {background:url(./images/chatbot_user.png?ver=1.0) no-repeat right top; background-size:auto 30px; text-align:right; padding:0 44px 0 0;}
.chatbotInner>.converArea>.converScr .user span {display:inline-block; padding:10px 18px; font-size:0.875em; line-height:1.35; word-break:keep-all; background-color:#a88470; border-radius:14px 0 14px 14px; color:#fff;}
.userInputArea {width:100%; height:54px; line-height:3; background-color:#ffffff; border-radius:0 0 8px 8px; position:absolute; bottom:0; padding:10px 15px 0;}
.userInputArea input {width:86%; height:32px; background-color:#fff; border:none; border-radius:16px; color:#9ca4aa; font-size:0.813em; padding:0 12px;}
.userInputArea a {background:#faa61a url(./images/chatbot_add.png?ver=1.0) no-repeat 7px 7px; background-size:auto 20px; width:36px; height:34px; border-radius:50%; margin-left:10px; display:inline-block;}

.chatbotInner>.converArea>.converScr .aol .listBox {display: inline-block; margin-bottom: 12px; padding:0; background-color:#fff; border-radius:0 14px 14px; font-size:0.813em; -webkit-box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.1); box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.1); /*border:2px solid #c2c2c2;*/}
.chatbotInner>.converArea>.converScr .aol .listBox .ask{background-color:#f9f2f0;border-radius:0 14px 0px 0px; padding:0px !important; margin-bottom:0px; }
.chatbotInner>.converArea>.converScr .aol .listBox .selection li { border-bottom:1px solid #f4efea;  background:url(./images/ico_chatbot_arr_right.png?ver=1.0) no-repeat 95% center; background-size:7px auto;}
.chatbotInner>.converArea>.converScr .aol .listBox .selection li a em{font-style: normal; margin-right: 5px; color:#f58026;}
.chatbotInner>.converArea>.converScr .aol .listBox .selection li a{display: inline-block; padding: 10px 40px 10px 18px; width:100%;}
.chatbotInner>.converArea>.converScr .aol .listBox .selection li:last-child{ border-bottom:none;}

.chatbotInner>.converArea> .tagArea {position:absolute; bottom:55px; width:100%;}
.chatbotInner>.converArea> .tagArea .closeLy{position: absolute; right:15px; top:10px; z-index: 9999;}
.chatbotInner>.converArea> .tagArea .tagWrap{display: table; width:100%; height:100%; text-align:center; background-color: rgba(242, 240, 238, 0.95); padding:30px 0px 10px; }
.chatbotInner>.converArea> .tagArea .taglist{padding: 0px 35px;}
.chatbotInner>.converArea> .tagArea .tagControl{display: table-cell; vertical-align: middle; text-align:center; padding-bottom: 40px;}
.chatbotInner>.converArea> .tagArea .tagControl a{display: inline-block; width:12px; height:20px; font-size: 0px; text-indent: -99999px;}
.chatbotInner>.converArea> .tagArea .tagControl .bx-next{position:absolute; right:17px; background:url(./images/ico_chatbot_arr_right.png?ver=1.0) no-repeat left top; background-size:12px auto;}
.chatbotInner>.converArea> .tagArea .tagControl .bx-prev{position:absolute; left:15px; background:url(./images/ico_chatbot_arr_left.png?ver=1.0) no-repeat left top; background-size:12px auto;}
.chatbotInner>.converArea> .tagArea .tagBox {display: inline-block; margin-right:3px; margin-bottom: 5px;}
.chatbotInner>.converArea> .tagArea .tagBox a{border:1px solid #f36a00; background-color:#fff; border-radius:14px 0 14px 14px; color:#f36a00; font-size:0.813em; display: inline-block; padding:7px 10px;}
.chatbotInner>.converArea> .tagArea .tagBox a span{padding:0px;  font-size:0.938em;}
.chatbotInner>.converArea> .tagArea .taglist .bx-viewport{height:auto !important; margin-bottom:10px;}
.chatbotInner>.converArea> .tagArea .bx-controls{text-align: center;}
.chatbotInner>.converArea> .tagArea .bx-controls .bx-pager .bx-pager-item{display: inline-block; margin: 0 4px;}
.chatbotInner>.converArea> .tagArea .bx-controls .bx-pager .bx-pager-item a{width:8px; height: 8px; background: #bdb9b6; border-radius: 50%; display: inline-block;font-size: 0px; text-indent: -99999px;}
.chatbotInner>.converArea> .tagArea .bx-controls .bx-pager .bx-pager-item .active{background: #f58026;}
